<!doctype html>
<html lang="tw">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, minimum-scale=0.2, maximum-scale=2, user-scalable=no" />
		<title>PINKY's WORK</title>
		<meta name="description" content="Pinky的作品集">
		<meta name="keywords" content="Pinky的作品集">
		<meta name="author" content="PINKY's WORK">
		<meta name="copyright" CONTENT="PINKY's WORK">
		<meta name="URL" content="https://lovepinky65.github.io/pinky/">
		<meta http-equiv="imagetoolbar" content="no">
		<meta name="application-name" content="">
		<meta name="theme-color" content="#004C99">
		<meta name="msapplication-navbutton-color" content="#004C99">
		<meta name="apple-mobile-web-app-status-bar-style" content="#004C99">
		<link rel="icon" href="favicon.ico" type="image/ico">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:600,800,800i" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 9]>
		<script src="javascripts/html5shiv/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body id="home" class="">
		<div id="app">
			<!-- loading -->
			<div class="container">
				<div class="loading">
					<div class="ball"></div>
					<div class="ball"></div>
					<div class="ball"></div>
					<div class="ball"></div>
					<div class="ball"></div>
					<div class="ball"></div>
					<div class="ball"></div>
				</div>
			</div>
			<!-- header -->
			<header class="header">
				<a href="index.html" class="logo">PINKY WORK</a>
				<!-- 選單按鈕 -->
				<a href="javascript:void(0)" class="menu-button js-menubtn">
					<span class="hamburger hamburger-1"></span>
					<span class="hamburger hamburger-2"></span>
					<span class="hamburger hamburger-3"></span>
				</a>
			</header>
			<nav class="menu js-menu">
				<ul>
					<li class="menu-main js-menulink"><a href="#home">HOME</a></li>
					<li class="menu-main js-menulink"><a href="#about">ABOUT ME</a></li>
					<li class="menu-main js-menulink"><a href="#expertise">EXPERTISE</a></li>
					<li class="menu-main js-menulink"><a href="#work">MY WORK</a></li>
					<li class="menu-main js-menulink"><a href="#contact">CONTACT ME</a></li>	
				</ul>	
			</nav>
			<!-- /header -->
			<!-- 背景色塊 -->
			<div class="home-bg bgcssAnimation"></div>
			<!-- home -->
			<section class="home">
				<h2 class="home-title">
					<span class="wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">MY NAME IS PINKY</span>
					<small class="home-titlesmall wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="1s">I’M A WEB DESIGNER</small>
				</h2>
				<!-- 背景英文 -->
				<h3 class="home-bgText">
					<span>PINKY</span><span>WORK</span>
				</h3>
			</section>
			<!-- 關於我 -->
			<section class="about bgcssAnimation">
				<div class="wrap autobiography">
					<div id="about" class="about-title title wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">ABOUT ME</div>
					<div class="clearfix">
						<!-- 簡介 -->
						<div class="content autobiography-C wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="1s">
							我叫 Pinky ，75年次，來自高雄，畢業於義守大學應用數學系資訊組。2013年決定成為一名前端設計師，2014年踏上前端網頁設計一途。我對前端非常有興趣，加入各種前端社群，參與國內前端社群活動，更積極參與相關講座與進修課程，增加自己的實力與了解最新資訊。<br>
							我有旺盛的求知心，也有堅韌不拔的意志，因此遇到了難題，都能迎刃而解。我個性樂觀隨和，喜歡跟同事討論問題，也樂於與客戶溝通，了解需求，讓整個專案執行更為順利。<br><br>
							未來，我會跟隨著巨人的腳步，往前端的頂端邁進 !!
							<div class="autobiography-experience">
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s"><img src="images/about/check-box.svg" alt="check">RWD跨平台(網站、行動裝置及平板)開發經驗</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.8s"><img src="images/about/check-box.svg" alt="check">不同瀏覽器相容性及版本的相容bug處理</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.0s"><img src="images/about/check-box.svg" alt="check">MVC 架構程式開發經驗</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.2s"><img src="images/about/check-box.svg" alt="check">網頁無障礙開發經驗</p>							
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.4s"><img src="images/about/check-box.svg" alt="check">觸控介面設計</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.6s"><img src="images/about/check-box.svg" alt="check">CSS3 Animation</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.8s"><img src="images/about/check-box.svg" alt="check">前端效能調校、偵錯</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2s"><img src="images/about/check-box.svg" alt="check">Google Analytics、Google Sitemap、Search Console</p>
								<p class="wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.2s"><img src="images/about/check-box.svg" alt="check">AE裝置動畫製作、Bodymovin、Lottiefiles</p>
							</div>
						</div>
						<!-- 照片 -->
						<div class="about-img">
							<img src="images/layout/about.png" alt="我的大頭照" class="about-xl wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
							<img src="images/layout/about-xs.png" alt="我的大頭照" class="about-xs wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
						</div>
						<!-- 經理 -->
						<div class="experience">
							<div class="subtitle wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.3s">EXPERIENCE</div>
							<div class="experience-group clearfix wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<ul class="date">
									<li><span>5月</span><span>2014</span></li>
									<li><b>~</b></li>
									<li><span>4月</span><span>2016</span></li>
								</ul>
								<div class="experience-C">
									<div class="experience-title"><span>弈宣科技開發有限公司</span><span>前端設計師</span></div>
									<div class="experience-info">網頁設計、前端切版、前端特效設計&製作、後台介面設計、觸控介面設計</div>
								</div>
							</div>
							<div class="experience-group clearfix wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<ul class="date">
									<li><span>4月</span><span>2016</span></li>
									<li><b>~</b></li>
									<li><span>6月</span><span>2017</span></li>
								</ul>
								<div class="experience-C">
									<div class="experience-title"><span>創造力互動多媒體</span><span>網頁設計師</span></div>
									<div class="experience-info">網頁設計、前端切版、前端特效設計&製作、專案需求確認、教育訓練</div>
								</div>
							</div>

							<div class="experience-group clearfix wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<ul class="date">
									<li><span>8月</span><span>2017</span></li>
									<li><b>~</b></li>
									<li><span>在職</span><span>2019</span></li>
								</ul>
								<div class="experience-C">
									<div class="experience-title"><span>亞惿股份有限公司</span><span>網頁前端工程師</span></div>
									<div class="experience-info">前端切版、前端特效設計&製作</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="expertise">
					<div id="expertise" class="expertise-bg"></div>
					<div class="wrap">
					<div class="expertise-title title wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">EXPERTISE</div>
						<ul class="expertise-group clearfix">
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<span class="expertise-icon" data-val="0"></span>
								<p class="expertise-c">HTML5</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.55s">
								<span class="expertise-icon" data-val="1"></span>
								<p class="expertise-c">CSS3</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.6s">
								<span class="expertise-icon" data-val="2"></span>
								<p class="expertise-c">RWD</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.65s">
								<span class="expertise-icon" data-val="3"></span>
								<p class="expertise-c">JavaScript</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
								<span class="expertise-icon" data-val="4"></span>
								<p class="expertise-c">JQury</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.75s">
								<span class="expertise-icon" data-val="5"></span>
								<p class="expertise-c">Web Desgin</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.8s">
								<span class="expertise-icon" data-val="6"></span>
								<p class="expertise-c">SCSS</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">
								<span class="expertise-icon" data-val="7"></span>
								<p class="expertise-c">Bootstrap</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.55s">
								<span class="expertise-icon" data-val="8"></span>
								<p class="expertise-c">GIT</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.6s">
								<span class="expertise-icon" data-val="9"></span>
								<p class="expertise-c">GitHub</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.65s">
								<span class="expertise-icon" data-val="10"></span>
								<p class="expertise-c">Gulp</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
								<span class="expertise-icon" data-val="11"></span>
								<p class="expertise-c">Photoshop</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.75s">
								<span class="expertise-icon" data-val="12"></span>
								<p class="expertise-c">Illustrator</p>
							</li>
							<li class="expertise-list wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.8s">
								<span class="expertise-icon" data-val="13"></span>
								<p class="expertise-c">Fireworks</p>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- work -->
			<section id="work" class="mywork">
				<div class="wrap">
					<div class="title wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">MY WORK</div>
					<div class="mywork-group clearfix wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.7s">
						<a href="#" class="js-lightboxbtn mywork-list" 
							@click.prevent="openLightbox(item.id)"
							v-for="item in worklist" 
							v-if="item.open"
							:key="item.id">
							<img :src="item.imageUrl" :alt="item.title" class="myworkImg">
							<p class="mywork-c">{{item.title}}</p>
						</a>
					</div>
				</div>
			</section>
			<!-- contact -->
			<section id="contact" class="contact">
				<div class="wrap">
					<div class="title wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.5s">CONTACT ME</div>
					<div class="content contact-C wow fadeInUp" data-wow-duration="0.3s" data-wow-delay="0.7s">
						如果對我有興趣，或是對於網站有任何建議，歡迎與我聯絡
						<a href="tel:0926066808">電話 : 0926066808</a>
						信箱 : lovepinky0726@gmail.com
					</div>
					<!-- <ul class="contact-group clearfix">
						<li class="contact-link"><a href="javascript:void(0)"></a></li>
						<li class="contact-link"><a href="javascript:void(0)"></a></li>
						<li class="contact-link"><a href="javascript:void(0)"></a></li>
					</ul> -->
				</div>
			</section>
			<div class="copyright">Copyright © 2018 Pinky</div>		
			<!-- /contact -->
			<!-- lightbox開始 -->
			<div class="lightbox lightbox-show js-lightbox" id="lightbox">
				<div class="lightbox-closeC" @click="closeLightbox()"></div>
				<div class="lightbox-body">
					<!-- 關閉按鈕 -->
					<a class="lightbox-close" href="#" @click.prevent="closeLightbox()"></a>
					<!-- 內容 -->
					<div class="lightbox-content clearfix">
						<div class="lightbox-group">
							<h3 class="lightbox-title clearfix"><span>{{ lightboxText.title }}</span></h3>						
							<p class="lightbox-work"><span>{{ lightboxText.technology }}</span></p>
							<p class="lightbox-form"><span>{{ lightboxText.from }}</span></p>
							<a :href="lightboxText.link" target="_blank" class="lightbox-link">前往網站</a>
						</div>
						<div class="lightbox-img"><img :src="lightboxText.imageXl" alt=""></div>
					</div>
				</div>
			</div>
			<!-- lightbox結束 -->
		</div>
		<script src="javascripts/main/01-jquery-2.2.4.min.js"></script>
		<script src="javascripts/wow/wow.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
		<script type="text/javascript">
			new WOW().init();
			$(function() {
				$(window).load(function(){
			        $('.container').fadeOut(1000);
			    });
				// 選單
				$(".js-menubtn,.js-menulink").click(function(){
					$(".js-menu,.js-menubtn").toggleClass("show");
				});
			});
			var app = new Vue({
				el: '#app',
				data:{
					worklist: [],//作品列表
					lightboxText: {},//顯示資料內容
				},
				created(){
					this.getJsonInfo();
				},
				methods: {
					getJsonInfo() {//取得worklist資料
						const vm = this;
						vm.$http.get('worklist.json').then(response => {
							console.log(response.data.data);
							vm.worklist= response.data.data;
						}, response => {
							console.log('沒讀取到資料');
						});
					},
					openLightbox(itemID){//開啟lightbox
						const vm = this;
						const text = vm.worklist.find(function(item){
							return item.id == itemID;
						});
						vm.lightboxText = {...text};
						
						// 顯示lightbox
						document.querySelector('#lightbox').className += ' show';
						document.querySelector('body').className += ' show';
					},
					closeLightbox(){//關閉lightbox
						const vm = this;
						document.querySelector('#lightbox').classList.remove('show');
						document.querySelector('body').classList.remove('show');
						vm.lightboxText = {};
					}
				}
			})
		</script>
	</body>
</html>